.banner{
    height: 200px;
    background: #ffffff;
}
.grid-box{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-top: 10px;
}
.grid-item{
    width: 25%;
}
.grid-item div{
    height: 60px;
    background: #e1e1e1;
    border-radius: 5px;
    margin: 0 5px;
}
.grid-box2{
    display: flex;
    padding: 5px 8px;
}
.grid-left,.grid-right{
    flex: 1;
    margin: 0 2px;
}
.grid-left{
    height: 140px;
    background: #e1e1e1;
    border-radius: 5px;
}
.grid-right-item{
    height: 68px;
    background: #e1e1e1;
    border-radius: 5px;
}
.grid-right-item:last-child{
    margin-top: 4px;
}

// 本地商家
.shop-box{
    padding: 10px;
    background: #ffffff;
    margin-top: 10px;
}
.shop-class{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}
.shop-class span:first-child{
    font-weight: bold;
}
.shop-class span:last-child{
    color: #666;
}